<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qudiandu.smartreader">

    <application
        android:name=".SRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:enabled="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.activity.SRSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.main.activity.SRMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <data android:scheme="smartreader" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.activity.SRBookHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.main.activity.SRGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.SRBookSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mark.activity.SRMarkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.activity.SRLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.activity.SRRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.web.SRWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.activity.SRSetActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.activity.SREditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".base.activity.ZYEditDescActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.activity.SRSysMsgActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".base.activity.picturePicker.ZYPicturePickerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".base.activity.pictureView.ZYPictureViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.myAudio.activity.SRCataloguesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.myAudio.activity.SRCatalogueDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.set.activity.SRFeedBackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.SRCreateClassActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.SRJoinClassActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.task.activity.SRTaskCateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.activity.SRClassDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.SRClassUsersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.task.activity.SRTaskDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.task.activity.SRTaskCommentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.task.activity.SRTaskCommentedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.book.activity.SRBooksActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.task.activity.SRTaskProblemActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.task.activity.SRTaskListenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.book.activity.SRBookUnitsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.dubbing.activity.SRDubbingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.translate.SRTranslateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.wordStudy.activity.SRWordStudyUnitsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.wordStudy.activity.SRWordStudyHomeActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.wordStudy.activity.SRWordStudyPracticeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.wordStudy.activity.SRWordStudyListenActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.downNet.down.ZYDownloadService" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />

        <!-- begin： 第三方登录，分享添加 -->
        <!-- qq begin -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106093376" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- qq end -->


        <!-- weibo auth begin -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <!-- weibo auth end -->


        <!-- wechat begin -->
        <activity
            android:name="com.third.loginshare.WXEntryBaseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent"></activity>
        <!-- wechat end -->
        <!-- end： 第三方登录，分享添加 -->

        <service android:name=".service.ZYUpdateService" />

        <!--极光推送start-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.qudiandu.smartreader.DataProvider"
            android:exported="true" />
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.qudiandu.smartreader" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.qudiandu.smartreader" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.qudiandu.smartreader" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- Required since 3.0.7 -->
        <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承JPush提供的JPushMessageReceiver类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.qudiandu.smartreader.thirdParty.jpush.SRJPushMessageReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.qudiandu.smartreader" />
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name="com.qudiandu.smartreader.thirdParty.jpush.SRJPushSelfReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.qudiandu.smartreader" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="6ae35acf53f004bf97618fbe" />
        <!--极光推送end-->
    </application>

    <!-- 极光推送 -->
    <permission
        android:name="com.qudiandu.smartreader.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.qudiandu.smartreader.permission.JPUSH_MESSAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

</manifest>
