<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartreader">

    <application
        android:name=".SRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.activity.SRSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.main.activity.SRMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <data android:scheme="smartReader" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.activity.SRBookDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme" />
        <activity
            android:name=".ui.main.activity.SRGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.SRBookListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mark.activity.SRMarkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.activity.SRLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.activity.SRRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.web.SRWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.activity.SRSetActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.profile.activity.SREditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".base.activity.ZYEditDescActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.activity.SRSysMsgActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".base.activity.picturePicker.ZYPicturePickerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".base.activity.pictureView.ZYPictureViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.set.activity.SRFeedBackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />

        <!-- begin： 第三方登录，分享添加 -->
        <!-- qq begin -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106093376" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- qq end -->


        <!-- weibo auth begin -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <!-- weibo auth end -->


        <!-- wechat begin -->
        <activity
            android:name="com.third.loginshare.WXEntryBaseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent"></activity>
        <!-- wechat end -->
        <!-- end： 第三方登录，分享添加 -->

        <service android:name=".service.ZYUpdateService" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

</manifest>
